.example-container {
    display: flex;
    flex-direction: column;
    background-color: #236b415b;
    position: absolute;
    left:20%;
    top: auto;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-button-row button,
  .example-button-row a {
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
  }

  table {
    width: 50%;
    margin-top: 10cm;
  }