<div class="example-container">
    
    <mat-form-field>
        <input  matInput placeholder="Enter your username" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getusernameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input  matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field>
        <input  matInput placeholder="Enter your password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getpasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <div class="example-button-row" color = "primary">
        <button mat-raised-button (click) = "registerNewUser()" >Register</button>
    </div>

    <div class="example-button-row" color = "primary">
            <button mat-raised-button (click) = "movetologin()" >moveToLogin</button>
    </div>
</div>

<table mat-table [dataSource]="userlist" class="mat-elevation-z8">
 
    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <!-- isUser Column -->
    <ng-container matColumnDef="isUser">
        <th mat-header-cell *matHeaderCellDef> isUser </th>
        <td mat-cell *matCellDef="let element"> {{element.isUser}} </td>
      </ng-container>
    
    <!-- isAdmin Column -->
    <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef> isAdmin </th>
        <td mat-cell *matCellDef="let element"> {{element.isAdmin}} </td>
    </ng-container>

    <!-- Manage Column -->
    <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef> Manage </th>
        <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click) = 'deleteanUser(element)'>Delete</button>
                <button mat-raised-button (click) = 'giveAdminpower(element)'>Give Admin power</button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
